<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:int-http="http://www.springframework.org/schema/integration/http"
 xmlns:int="http://www.springframework.org/schema/integration"
 xmlns:util="http://www.springframework.org/schema/util"
 xsi:schemaLocation="http://www.springframework.org/schema/integration
      http://www.springframework.org/schema/integration/spring-integration-4.3.xsd
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.3.xsd
      http://www.springframework.org/schema/integration/http
      http://www.springframework.org/schema/integration/http/spring-integration-http-4.3.xsd
      http://www.springframework.org/schema/util
      http://www.springframework.org/schema/util/spring-util-4.3.xsd">


	<!-- Context config -->
	<context:component-scan base-package="it.cg" ></context:component-scan>
	
	<!-- Error Handler -->
	<int:transformer id="transformerErrorHandler" 
					 input-channel="transformerHandlingErrorChannel"
					 ref="exceptionTransformer"
					 method="createErrorResponse" />
	<bean id="exceptionTransformer" class="it.cg.main.process.error.ErrorMessageHandler" />
	

	
<!-- MAIN integration -->
	<!-- Gateway HTTP -->
	<!-- request-reply timeout = 1Secondo -->
	<int-http:inbound-gateway id="inboundGatewayFromDL"
			                  request-channel="channelInputRequestJson"
			                  path="${mainUrlPatternWebXml}"
			                  request-payload-type="java.lang.String"
			                  supported-methods="POST"
			                  message-converters="converters"
			                  error-channel="transformerHandlingErrorChannel" >
    </int-http:inbound-gateway>
    <!-- reply useful for the gateway HTTP -->
    <util:list id="converters">
	    <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
	    <bean class="org.springframework.http.converter.StringHttpMessageConverter" />
	    <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
	</util:list>
	<bean id="customJack" class="it.cg.main.process.CustomMapperJackson" factory-method="getMapper" >
	</bean>
	<!-- _______________ -->
    <!-- TRANSFORMER json TO object -->
    <int:json-to-object-transformer id="transoformerJsonToObj"
    								object-mapper="customJack"
					    			input-channel="channelInputRequestJson"
					    			output-channel="gateForActivatorChannel"
					    			type="it.cg.main.dto.InboundRequestHttpJSON" />
	
	<!-- Integration config -->
	<import resource="spring-integration-config.xml"/>
	
<!-- ___ IVASS ___ -->
	<!-- Gateway HTTP IVASS -->
	<!-- <int-http:inbound-gateway id="inboundGatewayIvass"
				              request-channel="inputRequestJsonIvass"
				              path="/ivass"
				              request-payload-type="byte[]"
				              supported-methods="POST"
				              error-channel="transformerHandlingErrorChannel">
    </int-http:inbound-gateway>
    
    TRANSFORMER json TO object
    <int:json-to-object-transformer id="transoformerIvassJsonToObj"
					    			input-channel="inputRequestJsonIvass"
					    			output-channel="gateForActivatorChannel"
					    			type="it.cg.main.dto.ivass.InboundIvassDTO" />

	<import resource="ivass/spring-integration-ivass-config.xml"/> -->
	
	
</beans>
